<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <section id="services" class="page">
            <div class="container">
                <div class="content text-center">
                    <div class="heading">
                        <h2 class="mt-0 mb-4">Bienvenue dans votre espace</h2>
                        <div class="border"></div>
                    </br>

                    <% if(freeTrial){ %>
                        <div class="alert alert-success button-active" role="alert">
                            Offre d'essai de 7 jours activée !
                        </div>
                      <% } else{ %>  
                        <div class="alert alert-danger button-active" role="alert">
                            Votre offre d'essai est terminée
                        </div>
                        <button type="button" class="btn btn-primary px-4 float-none">Je m'abonne</button>
                     <% } %>

                     <% if(prediction){ %>
                        <div class="text-primary">
                            <h5>L'estimation de votre bien est de <%= price %>.</h5> 
                        </div>
                      <% } else { %>  
                       
                     <% } %>



                </br>
                <form action="/prediction" method="post">
                    <div class="container py-5">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="homeType">Type de bien</label>
                                        </br>
                                            <select class="custom-select col-md-6" id="homeType" %>" name="local_type">
                                                <%
                                                var options = [ "Appartement", "Maison",  ];
                                                for ( var i = 0; i < options.length; i++ )
                                                {
                                                    var selected = ( features.local_type == options[ i ] ) ? "selected" : "";
                                                    %><option value="<%=options[ i ] %>" <%=selected %>><%=options[ i ] %></option><%
                                                }
                                                %>
                                              </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="buildingArea">Surface habitable (en m2)</label>
                                            <input type="number" value="<%= features.building_area %>" required class="form-control col-md-6" id="buildingArea" name="building_area">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="landArea">Surface du terrain (en m2)</label>
                                            <input type="number" value="<%= features.land_area %>" class="form-control col-md-6" required id="landArea" name="land_area">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="totalRoom">Nombre de chambres</label>
                                            <input type="number" value="<%= features.total_room %>" class="form-control" required id="totalRoom" name="total_room">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="streetType">Type de voie</label>
                                            <input type="text" value="<%= features.street_type %>" class="form-control col-md-6" required id="streetType" name="street_type">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="streetName">Nom de la voie</label>
                                            <input type="text" value="<%= features.street_name %>" class="form-control" required id="streetName" name="street_name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label for="postalCode">Code postal</label>
                                            <input type="number" value="<%= features.postal_code %>" class="form-control" required id="postalCode" name="postal_code">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary px-4 float-none">Lancer une prédiction</button>
                            </div>
                        </div>
                    </div>
                </form>
                    </div>
                </div>
            </div>
    
        </section>
     </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>